{% extends 'base.html' %}


{% block content %}

<h1>Index Here</h1>
This blog has a total of <strong>{{num_posts}}</strong> posts by <strong>{{ num_authors}}</strong> author. <br>
And there are <strong>{{num_comments}}</strong> comment{{num_comments|pluralize:"s"}}  by <strong>{{ num_commenters}}</strong> commenter{{num_commenter|pluralize:"s"}}.

<hr>

{% for post in post_list %}
 
<ul class="list-links"> <li><strong> <a href="{{ post.get_absolute_url }}"> {{post.post_title}} </a></strong> by <a href="{{ post.author.get_absolute_url }}">{{ post.author }} </a> 
Commented by {{ commenter }} </li></ul>
{% endfor %}



{% endblock %}