{% extends 'base.html' %}


{% block content %}

<p>Post Detail</p>

<h1>{{ post.post_title }}</h1>

<p class="small"><strong> Created on: </strong><em>{{ post.post_created_at }} </em> </p>
<p><strong>Author: </strong><a href="{% url 'author-detail' post.author.id %}"> {{ post.author }}</a></p>


<p><strong>Description: </strong>{{ post.description }}</p>
<p><strong>Post: </strong></p>
<p>{{post.post}}</p>
<br>
<br>

<h4> There {{post.num_comments|pluralize:"is,are"}} {{post.num_comments}} comment{{ post.num_comments|pluralize:"s" }} on this post:</h4>
<hr>

<!-- {{post.post_comments}} <br> -->

All Comment Query: {{post.post_comments.all}} All

{% for comment in post.post_comments %}
<!-- Comment: {{ post.comments }} <br> -->
<strong>Commenter: </strong>{{comment.commenter}}  <br>
<strong>Comment title: </strong>{{comment.comment_title}} <br>
<strong>Comment: </strong>{{comment.comment }} <br><hr>

{% endfor %}

{% endblock %}