{% extends 'base.html' %}


{% block content %}

<p>Post Detail</p>

<h1>{{ post.post_title }}</h1>

<p class="small"><strong> Post date: </strong><em>{{ post.post_created_at }} </em> </p>
<p><strong>Author: </strong><a href="#">{{ post.author }}</a></p>

<p><strong>Description: </strong></p>
{{ post.description }}

<h2>comments:</h2>
There are {{num_post_comments }}on this post:
{% if post_comments %}

{% for comment in post_comments %}

{{comment_title }}<br>
{{comment_text }} <br>
{{commenter.username }}

{% endfor %}

{% endif%}



{% endblock %}