{% extends 'base.html' %}


{% block content %}

<p>Post Detail</p>

<h1>{{ post.post_title }}</h1>

<p class="small"><strong> Created on: </strong><em>{{ post.post_created_at }} </em> </p>
<p><strong>Author: </strong><a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></p>
<p><strong>Description: </strong>{{ post.description }}</p>
<p><strong>Post: </strong></p>
{{post.post}}

<h2>comments:</h2>

{% for comment in post.post_comments %}
Comment: {{ comment }}
<hr>
commenter: {{comment.commenter}}  <br>
comment title: {{comment.comment_title}} <br>
comment: {{comment.comment }}

{% endfor %}

{% endblock %}