/* css */

#sidebar {
    margin-left: 3rem;
    min-width: 12rem;
}

.list-links {
    list-style-type: none; /* Remove bullets */
    padding: 0 0; /* Remove padding */
    margin: 0 0; /* Remove margins */
    
}
.list-links a {
    text-decoration: none;
}

.container.main {
    flex-direction: column;
    /* margin-left: 4rem; */
}