{% extends 'base.html' %}

{% block title %}<title>Auth User List</title>{% endblock %}
{% block content %}
  <h1>Auth: Author List</h1>
  Authors: {{authors}}
  There are {{num_authors}} contributing authors to this blogging platform and a total of {{num_posts }} posts.
  {% if authors %}
  <ul>
    {% for author in authors %}
      <li>
       author: {{author}}; <br>
       author.id: {{author.id}} <br>
       author.posts: {{author.posts}} <br>
        <a href="{% url 'author-detail' author.id %}">{{author}}</a> 
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no authors in the list.</p>
  {% endif %} 

  {% endblock %}