{% extends 'base.html' %}

{% block title %}<title>Auth User List</title>{% endblock %}
{% block content %}
  <h1>Auth: Author List</h1>
  
  There are {{num_authors}} contributing authors to this blogging platform and a total of {{num_posts }} posts. <br>
  Authors: {{authors}}
  <p>See 'queries.txt' for notes on extracting data from querysets  </p>
  {% if authors %}
  
  <ul>
    {% for author in authors %}
      <li>
       author:   <a href="{% url 'author-detail' author.id %}">{{author}}</a>  <br>
       author.id: {{author.id}} <br>
       author.posts: {{author.posts}} <br>
      
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no authors in the list.</p>
  {% endif %} 

  {% endblock %}